<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/deli-very.css">
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <!--<script src="js/js_script.js" defer></script>-->
    <script src="js/vue_script.js" defer></script>
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script> 
    <script src="js/deli-very.js" defer></script>
    <title>BUERGERS!!</title>
    <meta charset="utf-8"/>
  </head>
  
  <body>
    <main id="all">
      <section class="header">
	<h1>Welcome to BurgerOnline</h1>
	<img src="https://cdnb.artstation.com/p/assets/images/images/006/006/249/large/kieran-mayer-insideside.jpg?1495373943">
      </section>

      <section class="menu">
	<h2>Select burger</h2>
	<p>This is where you execute burger selection</p>
	
	<div id="grid" class="grid">
	  
	  <div id="title" class="title" v-for="items in menu">
	    <input v-bind:id="items.name" type="checkbox">
	    {{ items.name }}
	  </div>

	  <div class="pic" v-for="items in menu">
	    <img v-bind:id="items.image.id" v-bind:src="items.image.src" v-bind:alt="items.image.alt" v-bind:title="items.image.title" v-bind:width="items.image.width">
	  </div>

	  <div class="desc" v-for="all in menu">
	    <ul>
	      <li v-if="all.brief != null">
		{{ all.brief }}
	      </li>
 	      <li v-if="all.gluten && all.lactose">
		Contains: <span class="allergen">gluten, lactose</span>
              </li>
              <li v-else-if="all.gluten">
		Contains: <span class="allergen">gluten</span>
              </li>
              <li v-else-if="all.lactose">
		Contains: <span class="allergen">lactose</span>
              </li>
	    </ul>
	  </div>
	  
      </section>
      
      <section class="order">
	<h2>Customer information</h2>
	<p>This is where you provide necessary information</p>
	<h3>Delivery information:</h3>

	<form>
	  <p>
	    <label for="name">Full name</label><br>
	    <input type="text" id="name" name="fn" required="required" placeholder="First and last name">
	  </p>
	  <p>
	    <label for="email">E-mail</label><br>
	    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
	  </p>
	    <label for="paymeny">Payment options</label><br>
	    <select id="payment" name="p">
	      <option selected>Credit card</option>
	      <option>Cash</option>
	      <option>Coupons</option>
	      <option>Haggling</option>
	    </select>
	  <p>
	    <label for="gender">Gender</label><br>
	    <input type="radio" id="male" name="g" value="Male">Male<br>
	    <input type="radio" id="female" name="g" value="Female">Female<br>
	    <input type="radio" id="undisclosed" name="g" value="Undisclosed" checked="checked">Undisclosed<br>
	    <input type="radio" id="confused" name="g" value="Confused">Confused as to why we want to know<br>
	  </p>
	</form>

	<div> Please indicate point of delivery: </div>
	<div class="view-box">
	  <div id="dots" v-on:click="displayOrder">
            <div 
              v-for="(order, key) in orders" :key="key"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              {{"T"}}
            </div>
	  </div>
	</div>
	
      </section>


      <div id="buttondiv">
	<button v-on:click="addOrder" id="button" type="submit"><img src="https://images.vexels.com/media/users/3/144007/isolated/preview/6150d0cfaabb9b2fc29008ee0f8cf099-burger-fast-food-stroke-icon-by-vexels.png" width="20">Place order</button>

	<div id="order">
	</div>
      
    </main>
    
    <hr>
    <footer>&copy Silly Burgers Inc.</footer>
    
  </body>
</html>
